{{!-- Main landing page for whoever first comes to our site. Prompts with login or signup. --}}
<h1 class="mb-3">Welcome to Stock Simulator!</h1>
<p>The stock trading simulator that will rock your world.</p>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark table-secondary">
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Username</th>
      <th scope="col">Account Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">#{{counter @index}}</th>
        <td>
          <div class="popover-table">
            <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-content-id="popover-content-{{counter @index}}" data-bs-trigger="focus" title="{{this.username}}'s Stocks">{{this.username}}</a>
          </div>
          <div id="popover-content-{{counter @index}}" hidden>
            <table class="table table-hover table-striped table-bordered">
              <thead class="thead-dark table-secondary">
                <tr>
                  <th scope="col">Symbol</th>
                  <th scope="col">Shares</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.stocks}}
                  <tr>
                    <th scope="row">{{this.symbol}}</th>
                    <td>{{this.num_shares}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </td>
        <td>{{this.acc_value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
