{{!-- This will hold our stock portfolio for each respective user. --}}
<article>
<h1>My Portfolio</h1>

<p>This will be the user's portfolio page</p>
<h2>Welcome {{user.username}}!</h2>
<p>Account Total (TODO): {{user.cash}}</p>
<p>Liquid Assets: {{user.cash}}</p>

<table id="leaderboard">
  <tr>
    <th>Ticker</th>
    <th>Shares</th>
    <th>Investment</th>
  </tr>
  {{#each user.stocks}}
    <tr>
        <td>{{this.symbol}}</td>
        <td>{{this.num_shares}}</td>
        <td>${{this.total_cost}}</td>
    </tr>
  {{/each}}
</table>
</article>