{{! This will hold our stock portfolio for each respective user. }}
<article>
  <h1 class="mb-2">My Portfolio</h1>
  {{!--
  <p>This will be the user's portfolio page</p>
  <h2>Welcome {{user.username}}!</h2> --}}
  <p>Account Value: ${{userVal}}</p>
  <p>Cash Available to Trade: ${{user.cash}}</p>
    {{#ifCond efficiencyRating null}}
      <p>Cannot evaluate efficiency since no stocks have been purchased.</p>
      {{else}} <p>User Efficiency: {{ efficiencyRating }}%</p>
    {{/ifCond}}
  <h2>Position Overview</h2>
  <table class="table table-hover table-striped table-bordered" id="stocks">
    <thead class="thead-dark table-secondary">
      <tr>
        <th>Symbol</th>
        <th>Last Price</th>
        <th>Today's Gain/Loss</th>
        <th>Total Gain/Loss</th>
        <th>Weighted Cost Per Share</th>
        <th>Current Value</th>
        <th>Quantity</th>
        <th>Cost Basis</th>

      </tr>
    </thead>
    {{#each stockList}}
      <tr>
        <td><a href="#" data-bs-toggle="modal" data-bs-target="#quoteModal">{{this.symbol}}</a></td>
        <td>${{this.last_price}}</td>
        <td>${{this.gain_loss_$}}</td>
        <td>${{this.total_gain_loss_$}}</td>
        <td>${{this.w_avg_price}}</td>
        <td>${{this.curr_value}}</td>
        <td>{{this.quant}}</td>
        <td>${{this.cost_basis}}</td>
      </tr>
    {{/each}}
  </table>

  <div class="modal" id="quoteModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title" id="stock-symbol">Symbol</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body" id="stock-info">
          
        </div>
      </div>
    </div>
  </div>

  <h4>Buy/Sell Stocks</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Buy Stocks</h5>
          <form id="buyStock-form" action="/portfolio/buy" method="POST">
            <div class="form-group row">
              <label for="symbol_buy" class="col-sm-5 col-form-label">Stock Symbol</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="symbol_buy"
                  name="symbol"
                  placeholder="AAPL"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="num_shares_buy"
                class="col-sm-5 col-form-label"
              >Shares</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="num_shares_buy"
                  name="num_shares"
                  placeholder="55"
                />
              </div>
            </div>
            <div class="form-group row">
              <p class="error">{{buyError}}</p>

              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Buy</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sell Stocks</h5>
          <form id="sellStock-form" action="/portfolio/sell" method="POST">
            <div class="form-group row">
              <label for="symbol_sell" class="col-sm-5 col-form-label">Stock Symbol</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="symbol_sell"
                  placeholder="AAPL"
                  name="symbol"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="num_shares_sell"
                class="col-sm-5 col-form-label"
              >Shares</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="num_shares_sell"
                  placeholder="55"
                  name="num_shares"
                />
              </div>
            </div>
            <div class="form-group row">
              <p class="error">{{sellError}}</p>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sell</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <h4>Search for a Stock</h4>
  <div>
    <form id="searchQuote">
      <label for="quote">Symbol:</label>
      <input type="text" id="quote" name="quote" placeholder="ticker">
      <button type="submit" data-bs-toggle="modal" data-bs-target="#quoteModal">Get Quote</button>
    </form>
  </div>

</article>