{{! This will hold our stock portfolio for each respective user. }}
<article>
  <h1 class="mb-3">My Portfolio</h1>
  {{!--
  <p>This will be the user's portfolio page</p>
  <h2>Welcome {{user.username}}!</h2> --}}
  <p>Account Value: ${{userVal}}</p>
  <p>Cash Available to Trade: ${{user.cash}}</p>
  <h2>Position Overview</h2>
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark table-secondary">
      <tr>
        <th>Symbol</th>
        <th>Last Price</th>
        <th>Today's Gain/Loss</th>
        <th>Total Gain/Loss</th>
        <th>Weighted Cost Per Share</th>
        <th>Current Value</th>
        <th>Quantity</th>
        <th>Cost Basis</th>
        
      </tr>
    </thead>
    {{#each stockList}}
      <tr>
        <td>{{this.symbol}}</td>
        <td>${{this.last_price}}</td>
        <td>${{this.gain_loss_$}}</td>
        <td>${{this.total_gain_loss_$}}</td>
        <td>${{this.w_avg_price}}</td>
        <td>${{this.curr_value}}</td>
        <td>{{this.quant}}</td>
        <td>${{this.cost_basis}}</td>
      </tr>
    {{/each}}
  </table>
  <h2>Buy/Sell Stocks</h2>

</article>