<article class="post">
  <h1>{{ title }}</h1>
  <address>Posted by {{{ name }}}</address>
  <p>{{ body }}</p>
  {{#ifCond name authUser.username}}
    <form action="/discussion/{{postId}}?_method=DELETE" method="POST" class="new-post-form">
        <button type = "submit">Delete Post?</button>
    </form>
  {{/ifCond}}
  {{!-- <p>{{authUser.username}}</p> --}}

  {{#if tags.length }}
    <h3>Tags</h3>
    <ul>
      {{#each tags}}
        <li><a href="/discussion/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  <h2>Comments:</h2>
  {{#if post.comments}}
  <ul class = "">
    {{#each post.comments}}
      <div class = "card mb-3">
        
        <div class = "row row_card">
        <h5 class = "card-text col">Posted By: {{this.username}}</h5>

        {{#ifCond ../authUser.username this.username}}  
        <div class= "btn-group col row_card d-flex">
          <form action="/discussion/comment/{{this._id}}?_method=PUT" method="POST" class="new-post-form right_aln">
            <button type="submit" class="button_link">edit </button>
          </form>
          <form action="/discussion/comment/{{this._id}}?_method=DELETE" method="POST" class="new-post-form right_aln">
            <button type="submit" class="button_link"> delete</button>
          </form>
          </div>
        {{/ifCond}}

        </div>
        <div class = "card-text">
          <p class = "commentP">{{this.comment}}</p>  
        </div>
        
        <p class = "card-footer bg-transparent comment_foot ">{{this.utc_date}}</p>
      </div>
    {{/each}}
  </ul>
  {{else}}
  <ul>
    <li>This post currently has no comments!</li>
  </ul>
  {{/if}}

  {{#if authenticated}}
  <h2>Make a new comment:</h2>
    <form action="/discussion/comment" method="POST" class="new-post-form">
      <div class="form-group">
        <label for="comment">
          Comment:
          <textarea type = "text" class="form-control" id="comment" name = "comment" rows="3"></textarea>
        </label>
        <input type = "hidden" name = "postId" id="postId" value = {{postId}}>
      </div>
      <p>{{error}}</p>
      <button type="submit">Submit Post</button>
      <button type="reset">Clear Form</button>
    </form>
  {{else}}
    <p>Sign in to make a new comment!</p>
  {{/if}}
  <a href="/discussion">Back to All Posts</a>
</article>
