<article class="post">
  <h1>{{ title }}</h1>
  <address>Posted by {{{ name }}}</address>
  <p>{{ body }}</p>

  {{#if tags.length }}
    <h3>Tags</h3>
    <ul>
      {{#each tags}}
        <li><a href="/discussion/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  <a href="/discussion">Back to All Posts</a>
</article>
