<article class="post">
  <h1>{{ title }}</h1>
  <address>Posted by {{{ name }}}</address>
  <p>{{ body }}</p>
  {{#ifCond name authUser.username}}
    <form action="/discussion/{{postId}}" method="DELETE">  
        <button type = "submit">Delete Post?</button>
    </form>
  {{/ifCond}}
  {{!-- <p>{{authUser.username}}</p> --}}

  {{#if tags.length }}
    <h3>Tags</h3>
    <ul>
      {{#each tags}}
        <li><a href="/discussion/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  <h2>Comments:</h2>
  {{#if post.comments}}
  <ul class = "">
    {{#each post.comments}}
      <div class = "card mb-3">
        <h4 class = "card-header">Posted By: {{this.username}}</h4>
        {{#ifCond ../authUser.username this.username}}  
          <p class = "card-header">Edit Post?</p>
          <p class = "card-header">Delete Comment?</p>
        {{/ifCond}}
        <div class = "card-text">
          <p>{{this.comment}}</p>  
        </div>
        <p class = "card-footer bg-transparent">Posted On: {{this.utc_date}}</p>
      </div>
    {{/each}}
  </ul>
  {{else}}
  <ul>
    <li>This post currently has no comments!</li>
  </ul>
  {{/if}}

  {{#if authenticated}}
  <h2>Make a new comment:</h2>
    <form action="/discussion/comment" method="POST" class="new-post-form">
      <div class="form-group">
        <label for="comment">
          Comment:
          <textarea type = "text" class="form-control" id="comment" name = "comment" rows="3"></textarea>
          {{!-- <input type="text" id="comment" name= 'comment' placeholder="Twitter gets Musk'd" value="{{post.comment}}" class="full-width-input"/> --}}
        </label>
        <input type = "hidden" name = "postId" id="postId" value = {{postId}}>
      </div>
      {{!-- <div class="form-group"></div> --}}
      <p>{{error}}</p>
      <button type="submit">Submit Post</button>
      <button type="reset">Clear Form</button>
    </form>
  {{else}}
    <p>Sign in to make a new comment!</p>
  {{/if}}
  <a href="/discussion">Back to All Posts</a>
</article>
